body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.flash-messages {
    display: flex;
    position: absolute;
    top: 3vh;
    justify-content: center;
    z-index: 9999;
    width: 100%;
}