.body-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-y: auto;
}

.main-container {
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.center-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    overflow-y: auto;
    align-items: center;
}

.question-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 1100px;
    padding: 5px;
    height: fit-content;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #222222;
}

.sidebar-container {
    flex-basis: 300px;
    max-width: 15vw;
    max-height: 100%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.sidebar-links {
    max-height: 100%;
    overflow-y: auto;
    padding-bottom: 15px;
}

.inner-choice-container {
    display: flex;
    justify-content: space-evenly;
}

.image-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.choice-container {
    background-color: lightgrey;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.canvas-ruler {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}

.selected-indicator {
    height: 25px;
    margin-bottom: 10px;
}


.selected {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #00A0B0;
}

.navigation-container {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: center;
    align-items: center;
}

/* Prevent weird ghost image form canavas page */
img, div {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#sideChosen {
    display: flex;
    margin: 0;
    padding: 0;
}

#sideChosen li {
    display: inline-block;
}

#sideChosen-container {
    display: flex;
}

#choice-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

#choice-form > div {
    margin: 2px;
}

.spacer {
    flex-grow: 5;
    flex-basis: 0;
}

.adjustment-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    margin-bottom: 5px;
}

.bold-label {
    font-weight: bold;
}

.green-label {
    color: limegreen;
}