.body-container {
    background-color: yellow;
    /* min-height: 100vh; TODO: I think from testing, shuld remove this, add flex to body and then flex-grow here */
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-y: auto;
}

.main-container {
    background-color: orange;
    /* min-height: 80vh; todo also remove this (see previous) need to handle resizing the plots somehow without breaking pixel size?...
    can use percentages of the size of the square thing? (normalize to 100) */
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.center-container {
    background-color: pink;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding: 50px;
}

.question-container {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 1100px;
}

.sidebar-container {
    background-color: grey;
    flex-basis: 300px;
    max-width: 15vw;
    max-height: 100%;
    overflow-y: auto;
}


.image-container {
    background-color: orange;
    display: flex;
    flex-direction: column;
    position: relative;
}

.choice-container {
    background-color: orangered;
    width: 100%;
}

.canvas-ruler {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}

.selected-indicator {
    height: 25px;
    margin-bottom: 20px;
}


.selected {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: yellow;
}

.navigation-container {
    background-color: white;
    display: flex;
    justify-content: space-between;
}

/* Prevent weird ghost image form canavas page */
img, div {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#sideChosen {
    display: flex;
    margin: 0;
    padding: 0;
}

#sideChosen li {
    display: inline-block;
}

#sideChosen-container {
    display: flex;
}

#choice-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spacer {
    flex-grow: 1;
    flex-basis: 0;
}

.adjustment-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
}