{% extends 'base.html' %}

{% block head %}
<!-- TODO -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/image-selection.css') }}">
{% endblock %}

{% block body %}
<div class="body-container">
  <div class="main-container">
    <div class="center-container">
    <div class="question-container" style="flex-direction: {{ 'row' if trueFirst else 'row-reverse' }}" >
        <div class="image-container">
          <img id="imageBimage" src="imagedata/true.png"  alt="Image B" width="500" height="500" draggable="false">
          <canvas id="imageB" class="canvas-ruler" width="500" height="500" draggable="false">Update your browser for HTML5 support</canvas>
          <div class="adjustment-container selected">
            <div class="range-input">
              <input type="range" id="imageBww" name="ww"
                    min="0" max="100" value="50" step="1" oninput="helloWorld(this.value, 'imageBimage')">
              <label for="imageBww">Range</label>
            </div>
            <div class="range-input">
              <input type="range" id="imageBwl" name="wl"
                    min="0" max="100" value="50" step="1">
              <label for="imageBwl">Range</label>
            </div>
          </div>
        </div>        <div class="image-container">
          <img id="imageAimage" src="imagedata/{{ yeet }}/false.png" alt="Image A" width="500" height="500" draggable="false">
          <canvas id="imageA" class="canvas-ruler" width="500" height="500" draggable="false">Update your browser for HTML5 support</canvas>
          <div class="adjustment-container">Up Down</div>
        </div>
        <div class="choice-container">
          Selected: {{ trueFirst }}
          <form onsubmit="return false;">
            <label for="length">Length:</label>
            <input type="number" id="length" name="length"><br><br>
          </form>
          <div class="navigation-container">
            <a class="navigation-button" href="{{ '/' }}">Back</a>
            <a class="navigation-button" href="{{ '/' }}">Next</a>
          </div>

          </div>

        </div>
      </div>
    </div>
    <div class="sidebar-container">
      sidebar
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src=" {{ url_for('static', filename='script.js') }}"></script>
{% endblock %}