{% extends 'base.html' %}

{% block head %}
<!-- TODO -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/image-selection.css') }}">
{% endblock %}

{% block body %}
<div class="body-container">
  <div class="main-container">
    <div class="center-container">
      <div class="question-container" style="flex-direction: {{ 'row' if putCorrectLeft else 'row-reverse' }}" >
        {% set imageASide = 0 if putCorrectLeft else 1 %}
        {% set imageBSide = 1 if putCorrectLeft else 0 %}
        <div class="image-container">
          <img id="imageAimage" src="/imagedata/{{image.id}}/50/50/true.png" width="500" height="500" draggable="false">
          <canvas id="imageA" value={{imageASide}} class="canvas-ruler" width="500" height="500" draggable="false">Update your browser for HTML5 support</canvas>
          <div class="selected-indicator {{ 'selected' if currentLabel and currentLabel.side_user_clicked == imageASide }}">
            <!-- <div class="range-input">
              <input type="range" id="imageAww" name="ww"
                    min="0" max="100" value="50" step="1" oninput="updateWW(this.value, 'imageAimage')">
              <label for="imageAww">WW</label>
            </div>
            <div class="range-input">
              <input type="range" id="imageAwl" name="wl"
                    min="0" max="100" value="50" step="1" oninput="updateWL(this.value, 'imageAimage')">
              <label for="imageAwl">WL</label>
            </div> -->
            <!-- TODO! Write a script that chagnes opacity / visibility for both only after both hvae loaded (since this first one always loads first) -->
          </div>
        </div>

        <!-- TODO: Write a script that makes the canvas the same size as the image (make sure image size stays a square and fits itself) -->
        <div class="image-container">
          <img id="imageBimage" src="/imagedata/{{image.id}}/50/50/false.png" width="500" height="500" draggable="false">
          <canvas id="imageB" value={{imageBSide}} class="canvas-ruler" width="500" height="500" draggable="false">Update your browser for HTML5 support</canvas>
          <div class="selected-indicator {{ 'selected' if currentLabel and currentLabel.side_user_clicked == imageBSide }}">
            <!-- <div class="range-input">
              <input type="range" id="imageBww" name="ww"
                    min="0" max="100" value="50" step="1" oninput="updateWW(this.value, 'imageBimage')">
              <label for="imageBww">WW</label>
            </div>
            <div class="range-input">
              <input type="range" id="imageBwl" name="wl"
                    min="0" max="100" value="50" step="1" oninput="updateWL(this.value, 'imageBimage')">
              <label for="imageBwl">WL</label>
            </div> -->
          </div>
        </div>

        <div class="choice-container">
          <div class="inner-choice-container" style="display: flex; justify-content: space-evenly;">
            <div class="navigation-container">
              <a class="navigation-button" href="{{url_for('label_path', batch_id=batch_id, index=index - 1, instance=instance)}}">Back</a>
            </div>
            <div class="spacer"></div>
            <div class="spacer">
              <form id="choice-form" action="" method="post">
                {{ form.hidden_tag() }}
                <div id="sideChosen-container">
                  {{ form.sideChosen.label }}
                  {{ form.sideChosen(required='required') }}
                  {% for error in form.sideChosen.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </div>
                <div>
                  {{ form.length.label }}
                  {{ form.length() }}
                  {% for error in form.length.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </div>
                <div>{{ form.submit() }}</div>
                <!-- <label for="length">Length:</label>
                <input type="number" id="length" name="length" {% if currentLabel %} value={{currentLabel.measurement}} {% endif %}> -->
              </form>
            </div>
            <div class="spacer">
              <div class="adjustment-container">
                <div class="range-input">
                  <input type="range" id="wwRange" name="ww"
                        min="0" max="100" value="50" step="1" oninput="updateWW(this.value)">
                  <label for="wwRange">WW</label>
                </div>
                <div class="range-input">
                  <input type="range" id="wlRange" name="wl"
                        min="0" max="100" value="50" step="1" oninput="updateWL(this.value)">
                  <label for="wlRange">WL</label>
                </div>
              </div>
            </div>
            <div class="navigation-container">
              <a class="navigation-button" href="{{url_for('label_path', batch_id=batch_id, index=index + 1, instance=instance)}}">Next</a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="sidebar-container">
      sidebar
      {{ labeledImageIds }}
      {% for i in images %}
      <div>
        {{ i }} and labeled? {{ 'yes' if i.id in labeledImageIds else 'no' }}
        {% if loop.index0 == index %}
        current one!!!!
        {% endif %}
        <a href="{{url_for('label_path', batch_id=batch_id, index=loop.index0, instance=instance)}}">link to {{loop.index0}}</a>
      </div>
      <hr>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src=" {{ url_for('static', filename='script.js') }}"></script>
{% endblock %}