{% extends 'base.html' %}

{% block head %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/image-selection.css') }}"> -->
{% endblock %}

{% block body %}
Hello there!
<hr>
Users
<table>
    {% if users|length > 0 %}
    {% set userkeys = users[0].__table__.columns._data.keys() %}
    {% endif %}
    {% for user in users %}
    {% if loop.first %}
    {% set userkeys = user.__table__.columns._data.keys() %}
    {{ userkeys }}
    <TR>
        {% for key in userkeys %}
        <TD class={{'c' ~ loop.index}}>{{ key }}</TD>
        {% endfor %}
    </TR>
    {% endif %}

    <TR>
        {% for key in userkeys %}
        <TD class={{'c' ~ loop.index}}>{{ user[key] }}</TD>
        {% endfor %}
    </TR>
    {% endfor %}
</table>
<hr>

Labels
<table>
    {% if labels|length > 0 %}
    {% set labelkeys = labels[0].__table__.columns._data.keys() %}
    {% endif %}
    {% for label in labels %}
    {% if loop.first %}
    {% set labelkeys = label.__table__.columns._data.keys() %}
    {{ labelkeys }}
    <TR>
        {% for key in labelkeys %}
        <TD class={{'c' ~ loop.index}}>{{ key }}</TD>
        {% endfor %}
    </TR>
    {% endif %}

    <TR>
        {% for key in labelkeys %}
        <TD class={{'c' ~ loop.index}}>{{ label[key] }}</TD>
        {% endfor %}
    </TR>
    {% endfor %}
</table>
<hr>

Image
<table>
    {% if images|length > 0 %}
    {% set imagekeys = images[0].__table__.columns._data.keys() %}
    {% endif %}
    {% for image in images %}
    {% if loop.first %}
    {{ imagekeys }}
    <TR>
        {% for key in imagekeys %}
        <TD class={{'c' ~ loop.index}}>{{ key }}</TD>
        {% endfor %}
    </TR>
    {% endif %}

    <TR>
        {% for key in imagekeys %}
        <TD class={{'c' ~ loop.index}}>{{ image[key] }}</TD>
        {% endfor %}
    </TR>
    {% endfor %}
</table>
<hr>

Batch
<table>
    {% if batches|length > 0 %}
    {% set batchkeys = batches[0].__table__.columns._data.keys() %}
    {% endif %}
    {% for batch in batches %}
    {% if loop.first %}
    {{ batchkeys }}
    <TR>
        {% for key in batchkeys %}
        <TD class={{'c' ~ loop.index}}>{{ key }}</TD>
        {% endfor %}
    </TR>
    {% endif %}

    <TR>
        {% for key in batchkeys %}
        <TD class={{'c' ~ loop.index}}>{{ batch[key] }}</TD>
        {% endfor %}
    </TR>
    {% endfor %}
</table>
{% endblock %}