.body-container {
    background-color: yellow;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-container {
    background-color: orange;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.center-container {
    background-color: pink;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding: 50px;
}

.question-container {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 1100px;
}

.sidebar-container {
    background-color: grey;
    flex-basis: 350px;
}


.image-container {
    background-color: orange;
    display: flex;
    flex-direction: column;
    position: relative;
}

.choice-container {
    background-color: orangered;
    width: 100%;
}

.canvas-ruler {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}

.adjustment-container {
    align-self: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    height: 50px;
}


.selected {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: yellow;
}

.navigation-container {
    background-color: white;
    display: flex;
    justify-content: space-between;
}

/* Prevent weird ghost image form canavas page */
img, div {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}