{% extends 'base.html' %}

{% block head %}
<!-- TODO -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/image-selection.css') }}">
{% endblock %}

{% block body %}
<div class="body-container">
  <div class="main-container">
    <div class="center-container">
      <div class="question-container">
        {% if trueFirst %}
        <div class="image-container" id="imageB">
          <img src="imagedata/true.png"  alt="Image B" width="500" height="500" draggable="false">
          <canvas class="canvas-ruler" width="500" height="500" draggable="false">Update your browser for HTML5 support</canvas>
        </div>
        {% endif %}
        <div class="image-container" id="imageA">
          <img src="imagedata/false.png" alt="Image A" width="500" height="500" draggable="false">
          <canvas class="canvas-ruler" width="500" height="500" draggable="false">Update your browser for HTML5 support</canvas>
        </div>
        {% if not trueFirst %}
        <div class="image-container" id="imageB">
          <img src="imagedata/true.png"  alt="Image B" width="500" height="500" draggable="false">
          <canvas class="canvas-ruler" width="500" height="500" draggable="false">Update your browser for HTML5 support</canvas>
        </div>
        {% endif %}
        <div class="choice-container">
          Selected: {{ trueFirst }}
          <form action="/action_page.php">
            <label for="length">First name:</label>
            <input type="text" id="length" name="length"><br><br>
          </form>
        </div>
      </div>
    </div>
    <div class="sidebar-container">
      sidebar
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src=" {{ url_for('static', filename='script.js') }}"></script>
{% endblock %}