{% extends 'baseNoBody.html' %}

{% block head %}
<!-- TODO -->
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"> -->
{% endblock %}

{% block all %}
<body onload="line()">
    <div >Yeet</div>
    Hello World

    <img src="simple.png" alt="Girl in a jacket" width="500" height="600">
    <canvas id="paint" width="750" height="450" style="border: 5px solid #000000;"></canvas>

    <script src=" {{ url_for('static', filename='script.js') }}"></script>
</body>
{% endblock %}